.bgA{
    background-color: rgba(#111111,0.2);
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    .bgA_1{
      background-color: #fff;
      width: 450px;
      margin: 0 auto;
      margin-top:250px;
      padding:0 20px 40px 20px;
      .bgA_1_1{
        background-color: #FCFCFC;
        border-bottom: 1px solid #f2f2f2;
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        span:nth-child(2){
          color: #e8e8e8;
          cursor: pointer;
        }
      }
      .bgA_1_2{
        width: 380px;
        padding:0 10px;
        margin:0 auto;
        .bgA_1_2_1{
          display: flex;
          margin:10px 0;
          span{
            display: inline-block;
            width: 80px;
            line-height: 40px;
            font-size: 16px;
          }
          input{
            flex:1;
            font-size: 14px;
            padding-left: 15px;
            line-height: 40px;
            border: 1px solid #ddd;
          }
        }
        .bgA_1_3{
          margin-top:20px;
          text-align: right;
          .bgA_1_3_1{
            display: inline-block;
            line-height: 35px;
            text-align: center;
            background-color: #438be9;
            font-size: 14px;
            color: #fff;
            width: 80px;
            &:hover{
              background-color: #5e9dfb;
            }
          }

        }
      }
    }
    }
