$colorFont:#1990ff;   //登录按钮的背景色

$colorSearch:#1ab394;   //搜索按钮背景色
$colorSearchH:#1aa287;   //搜索按钮hover背景色
$colorReset:#f8ac59;    //重置按钮背景色
$colorResetH:#eaa150;    //重置按钮hover背景色
$colorMap:#5ae67c;      //地图按钮背景色
$colorMapH:#53dc74;     //地图按钮hover背景色
$colorPro:#56efcf;      //创建项目按钮背景色
$colorProH:#53e2c4;      //创建项目按钮hover背景色

// bottom top 按钮
$colorAdd:#1c84c6;    //新增按钮背景色
$colorAddH:#1c7ab5;   //新增按钮hover背景色
$colorModify:#6dd9c3;  //修改按钮背景色
$colorModifyH:#69d2bc;   //修改按钮hover背景色
$colorDel:#ed5565;     //删除按钮背景色
$colorDelH:#ce4553;    //删除按钮hover背景色
$colorExport:#eaa150;  //导出按钮背景色
$colorExportH:#de984b;  //导出按钮hover背景色
$colorDlea:#ed5565;    //清空按钮背景色
$colorDleaH:#da4e5d;    //清空按钮hover背景色


//table下  自定义按钮
$colorTAdd:#1c84c6;    //编辑按钮背景色
$colorTAddH:#1c7ab5;   //编辑按钮hover背景色
$colorTDel:#ed5565;     //删除按钮背景色
$colorTDelH:#ce4553;    //删除按钮hover背景色
$colorTMore:#23c6c8;   //更多按钮背景色
$colorTMoreH:#21b7b9;  //更多按钮hover背景色

$colorTable:#eff3f8;    //table的头部颜色
