
.userAdmin{
    .el-tabs__header{
        padding: 10px 20px 0;
    }

    .el-button--small{
        padding: 2px 5px;
    }

    .el-form-item{
        margin-bottom: 12px;
    }

    .el-select{
        width: 100%;
    }

    .fw{
        .el-form-item__content{
            margin-right: 120px;
        }

        .el-button{
            margin-left: 10px;
        }
    }

    .el-dialog__body{
        display: flex;
    }

    .el-transfer{
        margin: auto;
        .el-transfer__buttons{
            button{
                display: block;
            }
    
            button:nth-child(2){
                margin-left: 0;
            }
        }
    }
    
    
}